@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
    font-family: kantumruy_pro;
    src: url(../Fonts/KantumruyPro-VariableFont_wght.ttf);
}       

:root {
    --font-kantumruy: kantumruy_pro, "sans_serif";
}
html {
  transition: background-color 0.3s, color 0.3s;
}

body {
    font-family: var(--font-kantumruy);
    background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color .3s, color .3s;
}

/* Style the scrollbar for Webkit browsers (Chrome, Safari, Edge) */
.custom-scrollbar::-webkit-scrollbar {
    width: 3px;
    /* Width of the scrollbar */
    height: 3px;
    /* Height of horizontal scrollbar to keep it slim */
}

.custom-scrollbar::-webkit-scrollbar-track {

    border-radius: 10px;
    /* Rounded edges */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: var(--scrollbar);
    /* Scrollbar thumb color */
    border-radius: 10px;
    /* Rounded thumb */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
   background: var(--scrollbar-hover);
    /* Darker color on hover */
}

:root {
    --main-color: #e11d48;

    --bg-color: #ffffff;
    --card-bg: #f2f2f2;
    --text-color: #111827;
    --scrollbar: #c2bebe;
    --scrollbar-hover: #919090;
    --input-autofill: #ffd1d1;
}

.bg-\[var\(--main-color\)\] {
    background-color: var(--main-color);
}

/* change full modal card background */
.custom-modal .ant-modal-content {
     background-color: var(--card-bg);
  border-radius: 20px;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px var(--input-autofill) inset !important;
  box-shadow: 0 0 0px 1000px var(--input-autofill) inset !important;
  -webkit-text-fill-color: var(--text-color) !important;
}

/* 
normal item
.ant-dropdown-menu-item:hover {
  background-color: #e11d48 !important;
}

.ant-dropdown-menu-item:hover .menu-item,
.ant-dropdown-menu-item:hover .logout-item {
  color: #ffffff !important;
}

/* icon also white */
/* .ant-dropdown-menu-item:hover svg {
  color: #ffffff !important;
  fill: #ffffff !important;
} */ 

/* Remove default padding */
.ant-dropdown-menu {
  padding: 8px !important;
  border-radius: 14px !important;
}

/* Base item style */
.ant-dropdown-menu-item {
  border-radius: 10px !important;
  transition: all 0.3s ease;
  overflow: hidden;
}

/* Custom inner container */
.dropdown-item {
  display: flex;
  align-items: center;
  gap: 10px;
  transition: all 0.3s ease;
}
.ant-dropdown-menu-item:hover {
  background: linear-gradient(135deg, #e11d48, #be123c) !important;
  transform: scale(1.03);
}
.ant-dropdown-menu-item:hover .dropdown-item {
  color: #ffffff !important;
}

.ant-dropdown-menu-item:hover svg {
  color: #ffffff !important;
  transform: translateX(4px);
}

/* Icon animation */
.dropdown-item svg {
  transition: all 0.3s ease;
}